main {
  align-items: center;
  text-align: center;

  .lg-heading {
    // font-size: 4.1rem;
    font-size: 3.5rem;
  }

  .sm-heading {
    // font-size: 1.22rem;
    font-size: 1rem;
    padding: 0.2rem 0rem;
  }
}

ul.menu-nav,
div.menu-branding {
  float: none;
  width: 100%;
  min-height: 0;

  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.menu-nav {
  height: 67vh;
  transform: translate3d(-100%, 0, 0);
}

.nav-item {
  // margin-bottom: 8%;
  margin-bottom: 2%;
}

.menu {
  .nav-link {
    font-size: 25px;
  }
}

.menu-branding {
  height: 33vh;
  transform: translate3d(100%, 0, 0);

  .portrait {
    background: $portrait-small;
    width: 156px;
    height: 156px;
  }
}

.about-info {
  grid-template-areas:
    "bioimage"
    "bio"
    "job1"
    "job2"
    "job3";

  grid-template-columns: 1fr;

  .bio-image {
    background: $portrait-small;
    width: 156px;
    height: 195px;
  }

  .bio {
    font-size: 1rem;
  }

  .job {
    font-size: 0.85rem;
  }
}

.projects {
  grid-template-columns: repeat(2, 1fr);
}
